<div class="container">
  <h1 class="mt-4">Digital Banking Application</h1>

  <div class="row mt-4">
    <!-- Section for managing clients -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Client Management</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Manage clients with functionalities such as adding, deleting, editing, and searching clients.</p>
          <a href="/admin/new-customer" class="btn btn-dark">Manage Clients</a>
        </div>
      </div>
    </div>

    <!-- Section for managing accounts -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Account Management</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Manage bank accounts, including adding, searching, and administering accounts.</p>
          <a href="/admin/accounts" class="btn btn-dark">Manage Accounts</a>
        </div>
      </div>
    </div>
  </div>

</div>
